[Unit]
Description=Service called from 99-beurerXXXX.rules to run bmconnect.py on device plug in

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 1
ExecStart=[path to python venv]/python3 [path to script]/bmconnect.py
Restart=no

[Install]
WantedBy=default.target