[Unit]
Description=Service called from 99-beurerXXXX.rules to run bpconnect.py on device plug in

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 1
ExecStart=[path to python venv]/bin/python3 [path to script]/bpconnect.py
Restart=no

[Install]
WantedBy=default.target